<a href="https://colab.research.google.com/github/BoboDuluYaa/PSD_UTM/blob/main/19041110018_AhzamZaghrendi_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder

data = ["Soto", "Bakso", "Nasi Goreng", "Bakso", "Mie Ayam", "Mie Ayam"]
label_encoder = LabelEncoder()
numeric_data = label_encoder.fit_transform(data)

print(numeric_data)

[3 0 2 0 1 1]

In [ ]:
#One-Hot Encoding
import pandas as pd

data = ["Bangkalan", "Sampang", "Sampang", "Pamekasan", "Sumenep", "Bangkalan", "Jakarta"]
one_hot_encoded_data = pd.get_dummies(data)

print(one_hot_encoded_data)

   Bangkalan  Jakarta  Pamekasan  Sampang  Sumenep
0       True    False      False    False    False
1      False    False      False     True    False
2      False    False      False     True    False
3      False    False       True    False    False
4      False    False      False    False     True
5       True    False      False    False    False
6      False     True      False    False    False

In [ ]:
#Target Encoding
import pandas as pd

data = pd.DataFrame({"Country" : ["Indonesia", "Malaysia", "Indonesia", "Brunei Darussalam", "Filipina", "Indonesia", "Malaysia"], "Target" : [1, 0, 1, 0, 1, 0, 1]})

mean_target = data.groupby("Country")["Target"].mean()

data["Country"] = data["Country"].map(mean_target)

print(data)

    Country  Target
0  0.666667       1
1  0.500000       0
2  0.666667       1
3  0.000000       0
4  1.000000       1
5  0.666667       0
6  0.500000       1

In [ ]:
import pandas as pd

df = pd.read_csv('Data_Dummy.csv')

print()

   No  Nama JK   UTS  UAS        Kota
0   1  Budi  L    90  100   Bangkalan
1   2   Eva  P    80   80    Surabaya
2   3  Lela  P    90   75   Bangkalan
3   4   Uti  P    85   50  Bojonegoro

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

file_path = "Data_Dummy.csv"
df = pd.read_csv(file_path)

print("Data awal\n", df.head())

categorical_columns = df.select_dtypes(include=['object']).columns
label_encoder = LabelEncoder()

for column in categorical_columns:
    df[column + "_encoded"] = label_encoder.fit_transform(df[column].astype(str))

print("\n\nData setelah label encoding\n", df.head())

Data awal
    No  Nama JK   UTS  UAS        Kota
0   1  Budi  L    90  100   Bangkalan
1   2   Eva  P    80   80    Surabaya
2   3  Lela  P    90   75   Bangkalan
3   4   Uti  P    85   50  Bojonegoro


Data setelah label encoding
    No  Nama JK   UTS  UAS        Kota  Nama_encoded  JK_encoded  Kota_encoded
0   1  Budi  L    90  100   Bangkalan             0           0             0
1   2   Eva  P    80   80    Surabaya             1           1             2
2   3  Lela  P    90   75   Bangkalan             2           1             0
3   4   Uti  P    85   50  Bojonegoro             3           1             1